  body {
            justify-content: center;
        }
        nav {
            background-color: rgb(136, 27, 109);
            width: 250px;
            height: 650px;
        }
        body {
            display: flex;
        }
        header {
            background-color: rgb(145, 82, 71);
            width: 900px;
            height: 100px;
        }
        .contoh {
            display: flex;
        }
        article {
            background-color: rgb(113, 170, 47);
            width: 600px;
            height: 450px;
        }
        aside {
            background-color: yellowgreen;
            width: 300px;
            height: 450px;
        }
        footer {
            background-color: rgb(126, 66, 56);
            width: 900px;
            height: 100px;
        }